* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-img-top.hover-effect {
    transition: transform 0.3s ease;
}

.card-img-top.hover-effect:hover {
    transform: scale(1.1);
}